{% extends 'EcomApp/index.html' %}
{%load static %}

{%block title%} 
    {{setting.title}}
{%endblock%}
    
{%block description%} 
    {{setting.description}}
{%endblock%}

{%block keyword%} 

{%endblock%}


{%block header%} 
    {% include 'EcomApp/header.html' %}
{%endblock%}
<!-- Header Area End Here -->
<!-- Begin Slider With Banner Area -->

{%block sidebar%} 

{%endblock%} 

{%block slider%} 
    {% include 'EcomApp/slider.html' %}
{%endblock%}

{%block mainbody%} 
    {% include 'EcomApp/content.html' %}
{%endblock%}
<!-- Li's Trendding Products Area End Here -->
<!-- Begin Footer Area -->
{%block footer %} 
    {% include 'EcomApp/footer.html' %}
{%endblock%}


